:root {
    --main-bg-black: rgb(15, 15, 17);
}

body {
    background-color: var(--main-bg-black);
}

/*======================  Navbar =================================*/
nav {
    overflow: hidden;
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--main-bg-black);
    z-index: 10000 !important;
    position: fixed;
}

nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 27px;
}

nav .bars {
    display: none;
}

@media(max-width:568px) {
    nav {
        flex-direction: column;

    }

    nav .bars {
        display: inline;
        position: fixed;
        right: 10px;
    }

    nav a {
        display: none;
    }

}

/*======================= Home Section  =====================*/
section {
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

#home {
    color: white;
}

#about {
    background-color: white;
}